image boot.vfat {
	vfat {
		files = {
			"MLO",
			"u-boot.img",
			"zImage",
			"uEnv.txt",
			"am335x-boneblack.dtb",
			"extlinux",
			"skylark-overlay.dtbo"
		}
	}

	size = 16M
}

image sdcard.img {
	hdimage {
		# fixed MBR id -> root=PARTUUID=534b594c-02 in extlinux.conf ("SKYL")
		disk-signature = 0x534b594c
	}

	partition u-boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 512M
	}
}
