# Skylark SD card layout (MBR: AM335x ROM only boots MLO from an
# active FAT partition on an MBR-partitioned card)
#
#  0x000000  MBR
#  0x100000  U-Boot env (128 KiB)
#  0x180000  U-Boot env redundant (128 KiB)
#  4 MiB     p1 boot   FAT32 64M  MLO, u-boot.img, boot.scr
#            p2 rootA  ext4 512M
#            p3 rootB  ext4 512M
#            p4 data   ext4 (grown to fill the card on first boot)

image boot.vfat {
	vfat {
		label = "BOOT"
		files = {
			"MLO",
			"u-boot.img",
			"boot.scr"
		}
	}
	size = 64M
}

image data.ext4 {
	ext4 {
		label = "data"
		use-mke2fs = true
	}
	size = 256M
}

image sdcard.img {
	hdimage {
		partition-table-type = "mbr"
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		offset = 4M
		image = "boot.vfat"
	}

	partition rootfsA {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 512M
	}

	partition rootfsB {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 512M
	}

	partition data {
		partition-type = 0x83
		image = "data.ext4"
	}
}
